@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/* Global styles */
body {
    background: linear-gradient(90deg, #000000, #3366FF);
    color: white;
    font-family: 'Gabarito', sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: #3366FF;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gabarito', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #3366FF;
}

a {
    color: #3366FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container for forms and menu */
.container {
    /*background: linear-gradient(0deg, #3366FF, #FFFFFF);*/
    background-color: rgba(255, 255, 255, 0.9); /* blanco con 70% de opacidad */
    margin: 160px auto;
    padding: 20px;
    width: 100%;
    max-width: 1500px;
    border-radius: 5px;
}

/* Form labels and inputs */
label {
    color: #3366FF;
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

input[type="number"] {
    width: 98%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3366FF;
    color: #FFFFFF;
    font-size: 18px;
}

input[type="number"]::placeholder {
    color: #FFFFFF;
}

/* Buttons */
button {
    font-family: 'Gabarito', sans-serif;
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #3366FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #254FCC;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid #3366FF;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Matrix cells */
.matrix-1 {
    color: #3366FF;
    font-weight: bold;
}

.matrix-0 {
    color: #FF0000;
}

/* Diagram for option 3 */
.diagram {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.node {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
}

.node.start {
    background-color: #3366FF;
    color: #FFFFFF;
}

.node.end {
    background-color: #FF0000;
    color: #FFFFFF;
}

.arrow {
    font-size: 24px;
    margin: 5px;
    color: #3366FF;
}
