<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Simulaciones</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h2>Historial de Simulaciones</h2>

    {% for sim in sims %}
      <h3>Simulación {{ loop.index }}</h3>
      <p>Empleado inicial: {{ sim.emp0 }}</p>
      <p>Total contagiados: {{ sim.total }} de {{ sim.objetivo }}</p>
      <p>Objetivo de contagio: {{ sim.objetivo }} empleados</p>

      {% if sim.total < sim.objetivo %}
        <p style="color: #FF3333; font-weight: bold;">
          No se alcanzó el número objetivo de contagiados.
        </p>
      {% endif %}

      <table>
        <thead>
          <tr>
            <th>Día</th>
            <th>Cantidad de contagiados</th>
            <th>IDs contagiados</th>
          </tr>
        </thead>
        <tbody>
          {% for day_infections in sim.hist %}
            <tr>
              <td>{{ loop.index }}</td>  <!-- Ahora comienza en 1 -->
              <td>{{ day_infections|length }}</td>
              <td>{{ day_infections | join(', ') }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    {% endfor %}

    <button onclick="location.href='{{ url_for('menu') }}'">Volver al menú</button>
  </div>
</body>
</html>
